test.py
tmp
loaders
__pycache__
bb_assistant/__pycache__
bb_assistant/llm/__pycache__
bb_assistant/vectorizer/__pycache__
bb_assistant/config/__pycache__
bb_assistant/util/__pycache__
bb_assistant/app/__pycache__
bb_assistant.egg-info
.vscode
*.egg-*
